table {
	border-collapse: collapse;
}
td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
th {
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}

.fixTableHead {
	overflow: auto;
	display: inline-block;
}

.fixTableHead thead th {
	position: sticky;
	top: 0;
	background: lightskyblue;
}
.gpx-top-bar-color {
	color: #314790;
}
.gpx_button {
	border:1px solid #ccc;
	border-radius:4px;
	text-align:center;
	background:white;
	cursor:pointer;
}

.gpx-main-container {
	 border-radius: 10px;
	 border-style:solid;
	 border-width:3px;
	 border-color:#e0e0e0;
}

.gpx-graph-tootip {
	position: relative;
    background: royalblue;
    color: white;
    padding: 2px;
    display: inline-block;
}

